name: ci-go-tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main

jobs:
  ci-go-tests:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go 1.23.x
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"
          cache-dependency-path: go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0

      - name: Run Unit Tests
        run: go test -race -v ./...
